/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */

:root {
    --bg-color: white;

    --primary-color: #00397A;
    --secondary-color: #4B9DFB;


    --bg-color-1: white;
    --bg-color-2: #e2ebfb;

}




/* Animations */
@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes text-banner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem) rotate(0);
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
    list-style: none;
    text-decoration: none;
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--bg-color);
}

textarea.disable-resize {
    resize: none;
}

/* Container */

.container { 
    width: 100%;
}

/* .container section {
    width: 90%;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
} */

/* Image Wrapper */

.image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.image-wrapper > .credits {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #eeeeee;
    font-size: .75rem;
    opacity: .55;
}

.image-wrapper .credits a {
    text-decoration: underline;
    color: #eee;
}

/* Quote */

.quote {
    font-style: italic;
    background-color: rgba(255, 255, 255, .35);
    padding: .5rem 1rem;
    margin: 1rem 0;
}

.quote p.credits {
    position: relative;
    text-align: end;
    padding-left: 25px;
}

.quote span.credits::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 20px;
    top: 50%;
    left: 0;
    background-color: #444;
}


/* Cards */

.card {
    background-color: white;
    border-radius: .5rem;
    width: 25%;
    padding: .7rem;
    transition: all .5s;
}

.card:hover {
    box-shadow: #0F2027 8px 8px 7px;
    transform: translateY(-10px);
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card .card-header {
    text-align: center;
    padding-top: .5rem;
    font-weight: 600;
}

.card .card-image {
    height: 80px;
    width: 80px;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.cards .card-image img {
    width: 100%;
    height: 100%;
}

.card .card-content {
    text-align: center;
}


/* Header */
header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Header Image */
.bg-header img {
    opacity: .5;
    animation: zoom 25s;
}

header .bg-right {
    width: 30%;
    height: 100%;
    background-color: #36495C;
    position: absolute;
    right: 0;
}

/* Header Banner */
header .banner {
    position: absolute;
    top: 30%;
    left: 15%;
}
/* 
.banner h1 {
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    animation: text-banner 1s forwards;
    opacity: 0;
}

.banner p {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 200;
    animation: text-banner 1s forwards .5s;
    opacity: 0;
}

.banner .buttons {
    animation: text-banner 1s forwards 0.9s;
    opacity: 0;
}

.banner button {
    color: whitesmoke;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    padding: 1rem 3rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1rem;
    transition: all .2s;
    border: 1px solid whitesmoke;
}

.banner button:hover {
    transform: scale(1.08);
    color: white;
    border: 1px solid white;
} */

/* Banner 2 */

.banner-2 {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner-2>*:nth-child(1) {
    animation: text-banner 1s forwards;
}

.banner-2>*:nth-child(2) {
    animation: text-banner 1s forwards .3s;
}

.banner-2>*:nth-child(3) {
    animation: text-banner 1s forwards .6s;
}

.banner-2>*:nth-child(4) {
    animation: text-banner 1s forwards .9s;
}

.banner-2 h1 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 400;
    opacity: 0;
}

.banner-2 p {
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
    opacity: 0;
}

.banner-2 p.small {
    font-size: 1.5rem;
}

.banner-2 .buttons {
    opacity: 0;
    margin-top: 2rem;
}

.banner-2 button {
    color: whitesmoke;

    background: var(--primary-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 1rem 3rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1rem;
    transition: all .25s;
    /* border: 1px solid whitesmoke; */
}

.banner-2 button:hover {
    transform: scale(1.06);
    color: white;
    border: 1px solid white;
}

.banner-2 .name-title {
    /* color: #2ee8b6; */
    color: var(--secondary-color);
}


/* Section */

section {
    padding-top: 55px;
    padding-bottom: 55px;
}

section:nth-child(even) {
    background-color: var(--bg-color-1);
}

section:nth-child(odd) {
    background-color: var(--bg-color-2);
}

section .container .title {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color);
}

section .container {
    margin: 0 auto;
    width: 90%;
    max-width: 980px;
}

.section {
    margin-top: 2rem;
}

.section h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}


/* Section About */

#about .container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    column-gap: 5%;
}

#about .container .image-profile {
    background-color: transparent;

    grid-row: 1/3;

    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.555) 4px 9px 9px;

    width: 300px;
    height: 450px;
}

#about .container .title {
    grid-row: 1;
    grid-column: 2;
    position: relative;
    padding-top: 3rem;
    text-align: start;
}

#about .container .title::before {
    content: "";
    height: 2px;
    width: 2rem;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 1rem;
}

#about .container .content {
    grid-row: 2;
    grid-column: 2;
}

#about .container .content p {
    padding-bottom: 1rem;
}



/* Section Service */




/* Section Skills */

#skills .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

#skills .title {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
}

#skills .quote {
    grid-column: 1/3;
    grid-row: 2;
    width: 50%;
    margin: 2rem auto;
}

#skills .content {
    grid-row: 3;
    grid-column: 1/2;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

#skills .skills-bars {
    background-color: white;
    width: 78%;
    margin: 0 auto;
    padding: 10px 2rem;
    border-radius: 12px;
}

#skills .skills-bars li {
    padding: 10px 0;
}

#skills .skills-bars li .bar {
    height: 10px;
    border-radius: 100px;
    background-color: var(--bg-color-2);
}

#skills .skills-bars li .bar .fill {
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 100px;
}

#skills .left-card {
    grid-row: 3;
    grid-column: 1;
}

#skills .right-card {
    grid-row: 3;
    grid-column: 2;
}


/* Section Contacts */

#contacts .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr;
}

#contacts .title {
    grid-column: 1/3;
    grid-row: 1;
}

#contacts .content {
    grid-column: 1;
    grid-row: 2;
    text-align: end;
}

#contacts .contact-card {
    grid-column: 1;
    grid-row: 2;

    display: flex;
    flex-direction: column;

    background-color: white;
    width: 75%;
    margin: 0 auto;

    border-radius: 15px;

    padding: 1rem 2rem;
}

#contacts .contact-card span i {
    padding: 0 0em .5em .2em;
    font-size: 1.3em;
    text-align: center;
    width: 25px;
}

#contacts .social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    align-items: center;
}

#contacts .social a {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts .social a i {
    color: white;
    font-size: 1.5rem;
}

/* Footer */

footer {
    width: 100%;
    height: 5vh;
    background-color: var(--primary-color);
    margin-top: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Timeline */

.timeline .frames {
    width: 100%;
    /* height: 50vh; */

    display: flex;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.frames::-webkit-scrollbar {
    display: none;
}

.timeline {
    position: relative;
    padding-top: 3rem;
}

.timeline .bt-prev-frame {
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgb(221,221,221);
    background: linear-gradient(90deg, var(--bg-color-2) 30%, rgba(255,255,255,0) 100%);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    color: #aaa;
    cursor: pointer;
}

.timeline .bt-next-frame {
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--bg-color-2) 70%);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    color: #aaa;
    cursor: pointer;
}

.timeline .timeframe {
    flex: none;
    width: 33.3333333333%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.timeline .timeframe .info {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    border-radius: 13px;
}

.timeline .timeframe .line {
    margin: 18px 0 40px;
    position: relative;
    width: 100%;
}

.timeline .timeframe .line .circle {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #444;
    margin: 0 auto;
}

.timeline .timeframe .line .left-line {
    width: 50%;
    background-color: #444;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
}

.timeline .timeframe .line .right-line {
    width: 49%;
    background-color: #444;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
}

.timeframe .info {
    padding: 1.2rem;
    box-sizing: border-box;
    position: relative;
}

.timeframe .info .title {
    text-align: center;
    font-size: 1.5rem;
}

.timeframe .info .content {
    text-align: center;
}

.timeframe .info::after {
    content: "";
    position: absolute;
    bottom: -12px;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(45deg) translate(-50%, 25%);
    left: 50%;
}

div#auto-test {
    position: relative;
}

i#cog {
    color: var(--secondary-color);
    font-size: 2rem;
    position: absolute;
    right: -24px;
    bottom: -13px;
}

i#flask {
    color: var(--primary-color);
}


@media (max-width: 1024px) {
    #about .title::before {
        top: calc(50% + 5.5rem);
    }
}

@media (max-width: 768px) {
    .banner-2 {
        left: 8%;
    }

    #about .container .title {
        padding-top: 0;
    }

    #about .title::before {
        bottom: 0;
    }

    section .title {
        font-size: 1.5rem;
    }

    .timeline .timeframe:nth-child(1), .timeline .timeframe:last-child {
        display: none;
    }

    .timeline .timeframe {
        width: 85%;
        padding: 0 7.5%;
    }

    .timeline .bt-prev-frame, .timeline .bt-next-frame {
        width: 20%;
        font-size: 4.5rem;
    }
}

@media (max-width: 426px) {

    .banner-2 p.small {
        font-size: 1rem;
    }

    .banner-2 h1 {
        font-size: 2rem;
    }

    .banner-2 p {
        font-size: 1.2rem;
    }

    .banner-2 button {
        width: 100%;
        padding: .5rem 1.5rem;
    }

    .banner-2 .buttons {
        width: 100%;
    }

    section {
        padding-top: 60px;
    }

    #about .container {
        display: flex;
        flex-direction: column;
    }

    #about .container .image-profile {
        height: 325px;
        margin: 0 auto;
    }

    #about .title {
        padding-top: 18px;
    }

    /* #about .title::before {
        top: calc(50% + 3.7rem);
    } */

    #services .cards {
        flex-direction: column;
    }

    #services .cards .card {
        width: auto;
        margin-bottom: .7rem;
    }

    #skills {
        grid-template-rows: auto auto auto auto;
    }

    #skills .quote {
        width: auto;
    }

    #skills .left-card {
        grid-row: 3;
        grid-column: 1/3;
        margin-bottom: 1rem;
    }

    #skills .right-card {
        grid-row: 4;
        grid-column: 1/3;
    }

    #contacts .container {
        display: flex;
        flex-direction: column;
    }

    #contacts .content {
        text-align: center;
        padding: 1.5rem 0 .5rem;
    }

    footer {
        margin-top: 75px;
    }
}

@media (max-width: 376px) {
    .banner-2 .buttons {
        width: 90%;
    }

    #about .container .title::before {
        content: none;
    }

    #about .container .image-profile {
        width: 100%;
    }
}